/* Commenting method in CSS is the same for the html */
/* CSS Selector */
/* You can enter multiple properties inside the selector */
/* * - universal selector is used to target all elements inside the html tags 
    font-family - changes the style of the font
    Courier New is the font value to be used by the webpage to display the texts
    monospace is the family from which the browser will try to search for a font once the Courier New is not available
*/
*{
    font-family:"Courier New",monospace;
    font-size: 20px;
}
/*id selector - this is commonly used to provide unique styling for an element
    # - to target id
    letter-spacing - used to change the spaces in between the characters of the text
*/
#zuitt-motto{
    letter-spacing: 5px;
}
/*CSS Specificity
    in terms of selectors, id is the highest priority and universal is the lowest priority.
*/
/*h3{
    letter-spacing: 25px;
}*/

/*CSS styling specificity 
    inline styling highest priority over internal and external styling.
    external styling has the lowest priority over inline and internal styling.

    CSS styling priority
    inline>internal>external

    !important is a property used to override the CSS priority rule.
*/

/*h1{
    color: red !important;
    backgroud-color: pink;
}*/

.offering-item{
    text-transform: uppercase;
}

/*attribute selector
    will only work if the element has the exact attribute that is specified in the selector. case sensitive.
    syntax:  tag[attribute]

*/
input[required]{
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    /*border-radius: 25px;*/
}

/*combination selectors
    these selectors require two selectors but the target is the latter/second selector
    1. adjacent sibling selector - selector that is used to target the next element selector that is next to the first selector
        syntax: firstselector + secondselector
    in combination selectors, we are not restricted to use uniform/one tag for both. the firstselector can be a class/id/tag while secondselector can be of different selector.
*/
#zuitt-motto + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}
/*  2. descendant selector
    hexadecimal color value can be used https://coolors.co/4c5760-93a8ac-d7ceb2-a59e8c-66635b.

*/

#bootcamp-learning-list li{
    color: #77BFA3;
}
/* 3. general sibling selector - used to target siblings of the first selector
        
*/
h2 ~ a{
    text-decoration: none;
}
/*Child selector*/

body>section>form>label{
    color: rgb(0,0,128);
}
body{
    background-color: skyblue;
}
html{
    scroll-behavior: smooth;
}
/*NAVIGATION*/
nav{
    background-color: white;
    text-align: center;

}
/*
    pseudo element/selector
    this a:hover will change the element style once the cursor is hovered over it;
*/
a:hover{
    background-color: #B3D6DE;
}
div{
    display: inline-block;
}
/*landing section*/
section{
    /*vh - viewport height; the browser will be using 100% of the screen display*/
    height: 100vh;
    text-align: center;
}
h2{
    /*rem  - root element measurement it multiplies the value attached to it to the element
        default value would be 16px
    */
    font-size: 1.5rem;
}
ol{
    /*list-style-type - changes the bullet/ordering style of the elements*/
    list-style-type: none;
}
/*position - property that changes the position of element based on a certain criteria
    left - used along the position property to add a certain measurement to the left of the element
    directions (left,right,top,bottom) - it is recommended to use only 2 of the directions; vertical(top and bottom) or
    horizontal (left and the right) per selector
    % - as the value would be based on the parent element
*/
form{
    /*vw - viewport width*/
    text-align: center;
    background-color: white;
    border: 2px solid black;
    height: 255px;
    width: 25vw;
    position: relative;
    left: 37.25%;

}
button{
    background-color: #cf0053;
    color: white;
    border: 0;
    border-radius: 15px;
}