/*4. Create an index.css file.*/
/*5. Apply an external styling to a paragraph tag.*/
.external-style{
	color: yellowgreen;
}

/*6. Change the font-family and the font size of all elements using the universal selector.*/
*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

/*7. Change the font size of h1 tags using a type selector.*/
h1{
	font-size: 90px;
}

/*8. Change the text to all uppercase letters of h2 tags using an id selector.*/
#h2-tag{
	text-transform: uppercase;
}

/*9. Change the background colors of the languages to be learn list items using a class selectors.*/
.list-items{
	background-color: seagreen;
}

/*10. Change the border of the tools to be used list items using an attribute selectors.*/
li[type]{
	border: 2px solid teal;
}

/*11. Change the list style type of the other things to be learned list using an adjacent sibling selector.*/
img + ol{
	list-style-type: none;
}

/*12. Change the dimensions of the image tag using a descendant selector*/
#last-section img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*13. Change the alignment of the last paragraph using a generic sibling selector.*/
h3 ~ p{
	text-align: center;
}

/*14. Change the letter spacing of the other things to be learned list items using a child selector.*/
section>ol>li{
	letter-spacing: 15px;
}

